<launch>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py">
    <param name="lm" value="$(find voice_commands)/dict/voice_cmd_test.lm"/>
    <param name="dict" value="$(find voice_commands)/dict/voice_cmd_test.dic"/>
  </node>

  <node name="voice_control" pkg="voice_commands" type="voice_control_tests.py" output="screen"/>

  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find voice_commands)/world/msu_lab2_1.world" respawn="false" output="screen" />
</launch>
